*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Todo */

.todo{
  background-color: blueviolet;
 
  padding: 2em;
}

.todo-title{
  display: flex;
  text-transform: uppercase;
}
.item-itself{
  display: flex;
 
}

.item-icon{
  cursor: pointer;
}
.show-btn{
  cursor: pointer;
}

/* Todo */



/* Checkbox */
.checkbox-wrapper{
  background-color: aquamarine;
}
/* Checkbox */

/* Affirmation */
.affirmation{
  background-color: darkblue;
}
/* Affirmation */

/* Mood */
.mood-itself img{
  width: 80px;
  height: 80px;
  cursor: pointer;
}
/* Mood */

/* Popup */
.popup-box{
  width: 70%;
  margin: 0 auto;
  max-height: 70vh;
  background-color: #fff;
  
}
/* Popup */